app-history{
  position: relative;
  width: 100%;
  height: auto;
  display: block;

  ul {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      padding: 5rem;
      position: relative;
      display: block;

      &:after {
        display: none;
      }
    }
  }

  svg {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;

    fill: none;
    stroke: $rojo;
    stroke-width: 10;
  }
}
